<div class="NewMage" style="background-color: #d9dcc1; overflow: hidden;">
    <div class="container text-center order-lg-1 d-flex align-items-center justify-content-center">
        <form [formGroup]="mageFormGroup" (ngSubmit)="submitMage()">
            <h1 class="bold-label">New Mage</h1>
            <div class="row ">
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="inputFullName" class="form-label text-lg-start bold-label">Full Name</label>
                    <input class="form-control" formControlName="mag_name" type="text" name="inputFullName" />
                    <span *ngIf="isValidField('mag_name')" class="form-text text-danger">
                        This field is required
                    </span>
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="inputHou_id" class="form-label bold-label">House</label>
                    <select class="form-control" formControlName="mag_hou_name" aria-label="Default select example" name="inputHou_id">
                        <option value="null" disabled selected hidden>
                            Select house
                        </option>
                        <option *ngFor="let house of houseList" [value]="house.hou_name">
                            {{house.hou_name}}
                        </option>
                    </select>
                    <span *ngIf="isValidField('mag_hou_name')" class="form-text text-danger">
                        This field is required
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label for="inputUser" class="form-label text-lg-start bold-label">Born date</label>
                    <input formControlName="mag_birthdate" type="date" class="form-control" value="{{currentDate}}" name="inputUser">
                    <span *ngIf="isValidField('mag_birthdate')" class="form-text text-danger">
                        {{isValidBirthdate('mag_birthdate')}}
                    </span>

                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="inputAALN" class="form-label bold-label">AALN</label>
                    <input type="text" formControlName="mag_aaln" class="form-control" name="inputAALN">
                    <span *ngIf="isValidField('mag_aaln')" class="form-text text-danger">
                        {{isValidAALN('mag_aaln')}}
                    </span>
                    <br>
                </div>
            </div>
            <span *ngIf="showError" class="form-text text-danger">
                {{errorMsg}}
            </span>

            <div class="formButtons">
                <button type="submit" class="btn btn-primary mx-2">Confirm</button>
                <button type="button" class="btn btn-dark mx-3" (click)="goBack()">Cancel</button>
            </div>
        </form>
    </div>
</div>
