header .container-fluid {
  background-color: #182126;
  color: #d9dcc1;
}

header h1,
header .navbar-brand {
  color: #d9dcc1;
}

header img {
  height: 60px;
  margin: 10px;
}

header .custom-btn {
  color: #d9dcc1;
  background-color: transparent;
  border-color: #d9dcc1;
}

header .custom-btn:hover {
  background-color: #d9dcc1;
  color: #182126;
}

header {
  border-bottom: #d9dcc1;
}

button img {
  margin: 0;
  height: 20px;
}